body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    padding: auto 10px;
}

.container {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 30px;
    margin: 25px auto;
    border-radius: 25px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.2);
    max-height: 100%;
    overflow-y: auto;
    position: relative;
    bottom: 0;
}

.hint {
    font-size: 0.9rem;
    opacity: 0.5;
    transition: opacity 3s;
    cursor: pointer;
    margin: 25px;
}

.hint:hover {
    opacity: 0.9;
    font-weight: bold;
}

.heading {  
    font-size: 1.6em;
    font-weight: 550;
    color: rgba(77, 77, 77, 0.3);
    margin-bottom: 25px;
}

.time-display {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 5.5em;
    font-weight: 750;
    max-width: 40%;
    margin: 3vw auto;
}

.controls > button {
    border-radius: 10px;
    transition: background-color 0.7s;
    padding: 5px 30px;
    margin: 20px 10px;
    color: grey;
    border-color: rgba(245, 245, 245, 0.5);
    box-shadow: 0px 10px 15px rgba(0,0,0,0.2);
}

.controls button:hover, .controls button:active {
    background-color: rgba(0, 0, 0, 0.3);
    color: whitesmoke;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.4);
}

.color-button {
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50%;
    margin: 10px;
    margin-inline-end: 10px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.2);
}

.color-button:hover {
    box-shadow: 0px 15px 20px rgba(0,0,0,0.4);
}

.custom-control.custom-switch {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.custom-control-label {
    font-size: 0.8rem;
    color: rgba(176, 176, 176, 0.85);
}

.custom-switch .custom-control-input:checked~.custom-control-label::before {
    background-color: rgba(176, 176, 176, 0.85);
}

.custom-control-label::before {
    border-radius: 25px;
}

.fullscreen-button {
    position: fixed;
    bottom: 50px;
    right: 20px;
    border-radius: 5px;
    border-color: lightgray;
    background-color: rgba(245, 245, 245, 0.5);
    color: lightgray;

}

#footer {
    font-family: 'Roboto Mono', monospace;
    color: darkslategrey;
    font-size: 0.7em;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 10px 5px;
    width: 100%;

    position: fixed;
    bottom: 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
}

footer a {
    text-decoration: none;
    color: rgb(92, 97, 255);
    margin: 2px 3px;
    transition: color 0.5s;
}

footer a:hover {
    background-color: pink;
    font-weight: bold;
}

footer span {
    margin: 0 5px;
}

#currentYear {
    margin-right: 1px;
}

#rocketIcon {
    margin: auto 1px;

}

@media only screen and (max-width: 900px) {
    body {
        overflow-y: auto;
        padding: 15px;    
    }
    
    .container {
        padding: 20px;
    }

    .heading {
        font-size: 1.1em;
    }

    .time-display {
        font-size: 3.9em;
        justify-content: center;
        gap: 10px;
        width: auto;
        max-width: 100%;
        margin: 5vw auto;
    }

    .controls button {
        margin: 2vw auto;
        margin-inline-end: 3vw;
        margin-left: 2vw;
        font-size: 0.9em;
    }

    .color-button {
        width: 30px;
        height: 30px;
        margin: 20px 15px;
        margin-top: 30px;
    }

    .fullscreen-button {
        display: none;
    }

    .custom-control {
        margin-bottom: 50px;
    }

    #footer {
        position: fixed;
        bottom: 0;
        border-radius: 15px;
    }
}
